<section class="bg-slate-100 dark:bg-slate-900">
    <!-- ========== FOOTER ========== -->
    <footer
        class="mt-auto w-full max-w-screen-2xl py-10 px-4 sm:px-6 lg:px-8 mx-auto"
    >
        <!-- Grid -->
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6 mb-10">
            <div class="col-span-full hidden lg:col-span-1 lg:block">
                <!-- Logo -->
                <a
                    class="flex flex-row rounded-xl text-xl items-center gap-3 font-semibold focus:outline-none focus:opacity-80"
                    href="/"
                    aria-label="The Website Guy"
                >
                    <span>
                        {# Logo for light theme #}
                        <img
                            src="{{'assets/images/logo-glasses-light-transparent.webp'|theme}}"
                            alt=""
                            class="w-14 dark:hidden"
                        />
                        {# Logo for dark theme #}
                        <img
                            src="{{'assets/images/logo-glasses-dark-transparent.webp'|theme}}"
                            alt=""
                            class="hidden dark:block w-14"
                        />
                    </span>
                </a>
                <!-- End Logo -->
                <article
                    class="mt-3 space-y-3 text-xs sm:text-sm text-gray-600 dark:text-neutral-400"
                >
                    <p>
                        © {{ "now" | date("Y") }} The
                        <strong>Website</strong> Guy.
                    </p>
                    <p>
                        A trading name for McGonigle Digital Studios Ltd. A
                        registered company in England & Wales No: 13294103.
                    </p>
                </article>
            </div>
            <!-- End Col -->

            <div>
                <h4
                    class="text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100"
                >
                    Product
                </h4>

                <div class="mt-3 grid space-y-3 text-sm">
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Web Development</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Website Management</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Web Hosting</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >VPS</a
                        >
                        <span class="inline text-pink-600 dark:text-pink-500"
                            >— New</span
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Cloud Servers</a
                        >
                        <span class="inline text-pink-600 dark:text-pink-500"
                            >— New</span
                        >
                    </p>
                </div>
            </div>
            <!-- End Col -->

            <div>
                <h4
                    class="text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100"
                >
                    Company
                </h4>

                <div class="mt-3 grid space-y-3 text-sm">
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >About</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Blog</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Announcements</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Sitemap</a
                        >
                    </p>
                </div>
            </div>
            <!-- End Col -->

            <div>
                <h4
                    class="text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100"
                >
                    Legal
                </h4>

                <div class="mt-3 grid space-y-3 text-sm">
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Terms &amp; Conditions</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Privacy Policy</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Acceptable Usage Policy</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Attributes</a
                        >
                    </p>
                </div>
            </div>
            <!-- End Col -->

            <div>
                <h4
                    class="text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100"
                >
                    Support
                </h4>

                <div class="mt-3 grid space-y-3 text-sm">
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Helpdesk</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Status</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Knowledge Base</a
                        >
                    </p>
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="https://wintercms.com/docs"
                            >CMS Documentation</a
                        >
                    </p>
                </div>

                <h4
                    class="mt-7 text-xs font-semibold text-gray-900 uppercase dark:text-neutral-100"
                >
                    Contact
                </h4>

                <div class="mt-3 grid space-y-3 text-sm">
                    <p>
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >hello@thewebsiteguy.uk</a
                        >
                    </p>
                    <p>
                        <a class="group inline-flex items-center gap-x-2 font-medium text-sm text-pink-500 decoration-2 hover:underline focus:outline-none focus:underline" href="https://calendar.google.com/calendar/u/0/appointments/AcZssZ0xtVfqF2blgLyaxcqqgAatMA-QeMbSVudhC_E=">
                Book a call
                <svg class="flex-shrink-0 size-4 transition group-hover:translate-x-0.5 group-focus:translate-x-0.5 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
              </a>
                    </p>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Grid -->

        <div class="pt-5 mt-5 border-t border-gray-200 dark:border-neutral-700">
            <div class="sm:flex sm:justify-between sm:items-center">
                <div class="flex items-center gap-x-3">
                    <div class="space-x-4 text-sm ms-4">
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="{{ url('/') }}/legal/terms"
                            >Terms</a
                        >
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="{{ url('/') }}/legal/privacy"
                            >Privacy</a
                        >
                        <a
                            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200"
                            href="#"
                            >Status</a
                        >
                    </div>
                </div>

                <div class="flex justify-between items-center">
                    <div class="mt-3 sm:hidden">
                        <a
                            class="flex-none text-xl font-semibold dark:text-white"
                            href="#"
                            aria-label="Brand"
                            >Brand</a
                        >
                        <p
                            class="mt-1 text-xs sm:text-sm text-gray-600 dark:text-neutral-400"
                        >
                            &copy; {{ "now" | date("Y") }} The Website Guy.
                        </p>
                    </div>

                    <!-- Social Brands -->
                    <div class="space-x-4">
                        <a
                            class="inline-block text-gray-500 hover:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200"
                            href="twitter.com/TheWebsiteGuyUK"
                        >
                            <svg
                                class="flex-shrink-0 size-4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                viewBox="0 0 512 512"
                            >
                                <path
                                    d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                                />
                            </svg>
                        </a>
                        <a
                            class="inline-block text-gray-500 hover:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200"
                            href="#"
                        >
                            <svg
                                class="flex-shrink-0 size-4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                                />
                            </svg>
                        </a>
                        <a
                            class="inline-block text-gray-500 hover:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200"
                            href="#"
                        >
                            <svg
                                class="flex-shrink-0 size-4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"
                                />
                            </svg>
                        </a>
                    </div>
                    <!-- End Social Brands -->
                </div>
                <!-- End Col -->
            </div>
        </div>
    </footer>
    <!-- ========== END FOOTER ========== -->
</section>