<!-- ========== HEADER ========== -->
<header class="sticky top-4 mx-auto flex flex-wrap md:justify-center md:flex-nowrap z-50 w-[95vw]">
  <nav class="relative max-w-[75rem] w-full bg-neutral-100/95 dark:bg-slate-700 rounded-[28px] py-3 ps-5 pe-2 md:flex md:items-center md:justify-between md:py-0 lg:mx-auto outline outline-2 outline-offset-2 outline-slate-800 dark:outline-slate-100" aria-label="Global">
    <div class="flex items-center justify-between w-full">
      <!-- Logo -->
      <a class="flex flex-row items-center rounded-md text-2xl font-thin focus:outline-none focus:opacity-80 dark:text-slate-100" href="{{'home'|page}}">
        <img src="{{ 'assets/images/logo.png'| theme | resize(40, 35) }}" alt="" width="40" height="35" class="w-10 mr-3 dark:hidden">
        <img src="{{ 'assets/images/logo-alt.png'| theme | resize(40, 35) }}" alt="" width="40" height="35" class="w-10 mr-3 hidden dark:block">
        <span>The <strong class="font-bold">Website</strong> Guy</span>
      </a>
      <!-- End Logo -->

      <div class="md:hidden">
        <button type="button" class="hs-collapse-toggle size-8 flex justify-center items-center text-sm font-semibold rounded-full bg-neutral-800 text-white disabled:opacity-50 disabled:pointer-events-none" data-hs-collapse="#navbar-collapse" aria-controls="navbar-collapse" aria-label="Toggle navigation">
          <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
          <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
    </div>

    <!-- Collapse -->
    <div id="navbar-collapse" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
      <div class="flex flex-col md:flex-row md:items-center md:justify-end py-2 md:py-0 md:ps-7 text-xl sm:text-sm font-semibold ml-3">
        <a class="py-3 ps-px sm:px-3 md:py-4  hover:text-neutral-300 focus:outline-none focus:text-neutral-300 underline underline-offset-2" href="{{'home'|page}}" aria-current="page">Home</a>
        <a class="py-3 ps-px sm:px-3 md:py-4  hover:text-neutral-300 focus:outline-none focus:text-neutral-300 underline underline-offset-2" href="{{'services'|page}}" aria-current="page">Services</a>
        {# <a class="py-3 ps-px sm:px-3 md:py-4  hover:text-neutral-300 focus:outline-none focus:text-neutral-300" href="{{'portfolio'|page}}">Portfolio</a> #}
        {# <a class="py-3 ps-px sm:px-3 md:py-4  hover:text-neutral-300 focus:outline-none focus:text-neutral-300" href="{{'articles/index'|page}}">Blog</a> #}
        <a class="py-3 ps-px sm:px-3 md:py-4  hover:text-neutral-300 focus:outline-none focus:text-neutral-300 underline underline-offset-2" href="{{'about'|page}}">About</a>


        <div>
          <a class="group inline-flex items-center mt-2 sm:mt-0 py-2 px-3 bg-white outline outline-pink-500 outline-2 font-medium text-lg sm:text-sm sm:mr-1 text-neutral-800 rounded-full w-max focus:outline-none" href="{{'contact'|page}}">
            Contact
          </a>
        </div>
      </div>
    </div>
    <!-- End Collapse -->
  </nav>
</header>
<!-- ========== END HEADER ========== -->