<!-- Pricing -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-12 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mb-5 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Pricing</h2>
    <p class="mt-1 text-gray-600 dark:text-neutral-400">Whatever your status, the website guy offers evolve according to your needs.</p>
  </div>
  <!-- End Title -->

<!-- Toggle -->
<div class="flex justify-center mb-3">
  <div id="toggle-count" class="p-0.5 inline-block bg-gray-100 rounded-lg dark:bg-slate-950">
    <label for="toggle-count-monthly" class="relative inline-block py-2 px-3 cursor-pointer">
      <span class="inline-block relative z-10 text-sm font-medium text-gray-800 cursor-pointer dark:text-neutral-200">
        Monthly
      </span>
      <input id="toggle-count-monthly" name="toggle-count" type="radio" class="absolute top-0 end-0 size-full border-transparent bg-transparent bg-none text-transparent rounded-lg cursor-pointer before:absolute before:inset-0 before:size-full before:rounded-lg focus:ring-offset-0 checked:before:bg-white checked:before:shadow-sm checked:bg-none focus:ring-transparent dark:checked:before:bg-pink-800 dark:focus:ring-offset-transparent" checked>
    </label>
    <label for="toggle-count-annual" class="relative inline-block py-2 px-3">
      <span class="inline-block relative z-10 text-sm font-medium text-gray-800 cursor-pointer dark:text-neutral-200">
        Annually 
      </span>
      <input id="toggle-count-annual" name="toggle-count" type="radio" class="absolute top-0 end-0 size-full border-transparent bg-transparent bg-none text-transparent rounded-lg cursor-pointer before:absolute before:inset-0 before:size-full before:rounded-lg focus:ring-offset-0 checked:before:bg-white checked:before:shadow-sm checked:bg-none focus:ring-transparent dark:checked:before:bg-pink-800 dark:focus:ring-offset-transparent">
    </label>
  </div>
  
</div>
<p class="text-center text-xs text-slate-600 dark:text-slate-400 mt-3">(Save 20% when paid annually)</p>
<!-- End Toggle -->


  <!-- Grid -->
  <div class="mt-12 grid sm:grid-cols-1 lg:grid-cols-3 gap-6 lg:items-center">
    
    <!-- Card -->
    <div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-neutral-800 ">
      
      <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">Basic</h4>
      <span class="mt-5 font-bold text-5xl text-gray-800 dark:text-neutral-200 flex flex-row justify-center items-baseline gap-3">
        <span class="font-bold text-2xl -me-2">£</span>
        <p data-hs-toggle-count='{
          "target": "#toggle-count",
          "min": 15,
          "max": 150
        }' class="text-gray-800 font-bold text-5xl dark:text-neutral-200">
        15
      </p>
      </span>
      <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">Perfect for small projects and individuals</p>

      <ul class="mt-7 space-y-2.5 text-sm">
        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Custom website
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            1 Page
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Free UK Domain
          </span>
        </li>

         <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Annual Domain Renewal
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            SSL Certificate
          </span>
        </li>

         <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Fast & Secure UK Web Hosting
          </span>
        </li>
        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            1 x 10GB Mailboxes
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Unlimited Content Updates
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Daily Backups
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Search Engine Submissions
          </span>
        </li>

         <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            24/7 Uptime Monitoring
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            CMS
          </span>
        </li>

        <li class="flex space-x-2">
             <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Blog/News
          </span>
        </li>
		<li class="flex space-x-2">
         <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Content Assistance
          </span>
        </li>  
        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Online Payments
          </span>
        </li>
		  
        <li class="flex space-x-2">
         <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          <span class="text-gray-800 dark:text-neutral-400">
            E-commerce Store
          </span>
        </li>
      </ul>
      <a href="{{'contact'|page}}" class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:border-pink-600 hover:text-pink-600 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-pink-500 dark:hover:border-pink-600" href="#">
        Let's talk
      </a>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-neutral-800 ">
      
      <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">Essentials</h4>
      <span class="mt-5 font-bold text-5xl text-gray-800 dark:text-neutral-200 flex flex-row justify-center items-baseline gap-3">
        <span class="font-bold text-2xl -me-2">£</span>
        <p data-hs-toggle-count='{
          "target": "#toggle-count",
          "min": 29,
          "max": 290
        }' class="text-gray-800 font-bold text-5xl dark:text-neutral-200">
        29
      </p>
      </span>
      <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">All the essentials for starting a new business</p>

      <ul class="mt-7 space-y-2.5 text-sm">
        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Custom website
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            1-5 Pages
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Free UK Domain
          </span>
        </li>

         <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Annual Domain Renewal
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            SSL Certificate
          </span>
        </li>

         <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Fast & Secure UK Web Hosting
          </span>
        </li>
        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            5 x 10GB Mailboxes
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Unlimited Content Updates
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Daily Backups
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Search Engine Submissions
          </span>
        </li>

         <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            24/7 Uptime Monitoring
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            CMS
          </span>
        </li>

        <li class="flex space-x-2">
             <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Blog/News
          </span>
        </li>
		<li class="flex space-x-2">
         <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Content Assistance
          </span>
        </li>  
        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Online Payments
          </span>
        </li>
		  
        <li class="flex space-x-2">
         <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          <span class="text-gray-800 dark:text-neutral-400">
            E-commerce Store
          </span>
        </li>
      </ul>
      <a href="{{'contact'|page}}" class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:border-pink-600 hover:text-pink-600 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-pink-500 dark:hover:border-pink-600" href="#">
        Let's talk
      </a>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="flex flex-col p-8 text-center border-2 border-pink-600 shadow-xl rounded-xl  dark:border-pink-700 ">
    	<p class="mb-3"><span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-lg text-xs uppercase font-semibold bg-pink-100 text-pink-800 dark:bg-pink-600 dark:text-white">Most popular</span></p>
      <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">Professional</h4>
      <span class="mt-5 font-bold text-5xl text-gray-800 dark:text-neutral-200 flex flex-row justify-center items-baseline gap-3">
        <span class="font-bold text-2xl -me-2">£</span>
        <p data-hs-toggle-count='{
          "target": "#toggle-count",
          "min": 59,
          "max": 590
        }' class="text-gray-800 font-bold text-5xl dark:text-neutral-200">
        59
      </p>
      </span>
      <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">Everything you need for a growing business</p>

      <ul class="mt-7 space-y-2.5 text-sm">
        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Custom website
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            1-20 Pages
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Free UK Domain
          </span>
        </li>

         <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Annual Domain Renewal
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            SSL Certificate
          </span>
        </li>

         <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Fast & Secure UK Web Hosting
          </span>
        </li>
        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            100 x 10GB Mailboxes
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Unlimited Content Updates
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Daily Backups
          </span>
        </li>
        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Search Engine Submissions
          </span>
        </li>

         <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            24/7 Uptime Monitoring
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            CMS
          </span>
        </li>

        <li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Blog/News
          </span>
        </li>
		  <li class="flex space-x-2">
         <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Content Assistance
          </span>
        </li>     
		<li class="flex space-x-2">
          <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            Online Payments
          </span>
        </li>

        <li class="flex space-x-2">
         <svg class="flex-shrink-0 mt-0.5 size-4 text-pink-600 dark:text-pink-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <span class="text-gray-800 dark:text-neutral-400">
            E-commerce Store
          </span>
        </li>
      </ul>
		 <a href="{{'contact'|page}}" class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-pink-600 text-white hover:bg-pink-700 disabled:opacity-50 disabled:pointer-events-none" href="#">
        Let's talk
      </a>
    </div>
    <!-- End Card -->

  
<!-- End Pricing -->