description = "Static layout"

[staticMenu]

[staticBreadcrumbs]

[staticPage]
useContent = 1
default = 0

[staticPage staticPage2]
useContent = 1
default = 0
==
{% partial "html/head" %}

    {% partial 'site/navBar.htm' %}     

    <main class="max-w-screen-lg mx-auto my-10 md:my-20 px-6 md::px-0">
        <article class="prose prose-sm md:prose-lg max-w-none dark:text-slate-100 dark:prose-headings:text-slate-200 dark:prose-strong:text-slate-400">
            {% component 'staticPage' %}
        </article>
    </main>

    {% partial 'site/footer' %}

{% partial "html/foot" %}